<!DOCTYPE html>
<html>
  <head>
    <title>UrlValidator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="min-h-screen bg-gray-50">
    <% if notice %>
      <div class="mx-auto max-w-xl mt-6 rounded-md bg-green-50 px-4 py-3 text-green-800">
        <%= notice %>
      </div>
    <% end %>

    <% if alert %>
      <div class="mx-auto max-w-xl mt-6 rounded-md bg-red-50 px-4 py-3 text-red-800">
        <%= alert %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
